@model MentorMe.Models.ModelAreaOfInterest

@{
    ViewBag.Title = "Interest";
    Layout = "~/Views/Shared/_DetailLayout.cshtml";
}

<h2 class="text-center">Interest</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="form-horizontal">
        <fieldset>
        <legend>Area Of Interest</legend>

        <div class="form-group">
            @Html.LabelFor(model => model.KeySkill, new { @class = "control-label col-md-4 col-xs-4" })
            <div class="col-md-5 col-xs-8">
                @Html.TextBoxFor(model => model.KeySkill, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Experiance, new { @class = "control-label col-md-4 col-xs-4" })
            <div class="col-md-5 col-xs-8">
                @Html.TextBoxFor(model => model.Experiance, new { @class = "form-control" })
            </div>
        </div>       
        <div class="form-group">
            <label for="Grade" class="control-label col-md-4 col-xs-4"></label>
            <div class="col-md-5 col-xs-8">
                <input type="submit" value="Create" class="btn btn-lg btn-primary">
                <a href="/Home/Index" class="btn btn-lg btn-primary">Skip</a>
            </div>
        </div>
       
    </fieldset>
    </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
